<%- include('../../layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4" >
            <div class="card shadow">
                <div class="card-header bg-dark">
                    <h3 class="text-light">Add New Type</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/types/add" method="post" id="add-form">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name" required />
                        </div>
                        <div class="mb-3">
                            <label for="category_name">Category</label>
                            <select class="form-select" name="category_name">
                                <option selected>Select Category</option>
                                <% categories.forEach((item) => { %>
                                <option value="<%= item.name %>"><%= item.name  %></option>
                                <% }) %> 
                              </select>
                        </div>
                        <div class="mb-3">
                            <a href="/types" value="Back" class="btn btn-success btn-lg">Back</a>
                            <input type="reset" value="Reset" class="btn btn-danger btn-lg" />
                            <input type="submit" name="submit" value="Add Type" class="btn btn-primary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../layout/footer') %> 


    