<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geiser Store | Adventure Product</title>
    <link rel="stylesheet" href="/css/<%= style %>.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body class="bg-dark">

    <!-- MenuBar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand me-5" href="#">Geiser</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-5">
                        <a class="nav-link ms-2" href="#">Backpacks</a>
                        <a class="nav-link ms-2" href="#">Travel</a>
                        <a class="nav-link ms-2" href="#">Lifestyle</a>
                        <a class="nav-link ms-2" href="#">Behind The Packs</a>
                        <a class="nav-link ms-2" href="#">Stories</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <form class="d-flex me-5 mt-1" role="search">
                            <input class="form-control me-2 pencarian" type="search" placeholder="Search Bar"
                                aria-label="Search">
                        </form>
                        <a class="nav-link btn btn-dark ms-4" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- /MenuBar -->